*.dat
*.xml
*.cmake
*.png
*.out
*.log
*.csv
__pycache__
CMakeCache.txt
Makefile
optimizationHistory.csv
globalOptimumDesign
src/CMakeFiles/
src/Bounds/CMakeFiles/
src/Optimizers/CMakeFiles/
src/LinearAlgebra/CMakeFiles/
src/Bounds/CMakeFiles/
src/CorrelationFunctions/CMakeFiles/
src/Driver/CMakeFiles/
src/ObjectiveFunctions/CMakeFiles/
src/SurrogateModels/CMakeFiles/

build/
externalFunctions/lib/
externalFunctions/CMakeFiles/
