*.dat
*.xml
*.cmake
*.png
*.out
__pycache__
CMakeCache.txt
Makefile
optimizationHistory.csv
globalOptimumDesign
src/CMakeFiles/
src/Auxiliary/CMakeFiles/
src/Bounds/CMakeFiles/
src/Optimizers/CMakeFiles/
src/LinearAlgebra/CMakeFiles/
src/Auxiliary/CMakeFiles/
src/Bounds/CMakeFiles/
src/CorrelationFunctions/CMakeFiles/
src/Driver/CMakeFiles/
src/ObjectiveFunctions/CMakeFiles/
src/Output/CMakeFiles/
src/Random/CMakeFiles/
src/SurrogateModels/CMakeFiles/
src/TestFunctions/CMakeFiles/
src/Output/CMakeFiles/
src/Random/CMakeFiles/
src/SurrogateModels/CMakeFiles/
src/TestFunctions/CMakeFiles/
src/LinearAlgebra/UnitTests/CMakeFiles/
src/Metric/CMakeFiles/

RegressionTests/*/*.csv
Tests/*/*/*.csv
RegressionTests/Depot
build/
externalFunctions/lib/
externalFunctions/CMakeFiles/
