PROBLEM_NAME= HIMMELBLAU
PROBLEM_TYPE= DoE
# problem dimension
DIMENSION= 2
UPPER_BOUNDS= {6.0,6.0}
LOWER_BOUNDS= {-6.0,-6.0}

OBJECTIVE_FUNCTION{
NAME = objective_function
EXECUTABLE= himmelblauDoETest5
DESIGN_VECTOR_FILE = dv.dat
OUTPUT_FILE = objFunVal.dat
MARKER = objective_function
GRADIENT = yes
MARKER_FOR_GRADIENT = objective_function_gradient
}

NUMBER_OF_DOE_SAMPLES = 100

CONSTRAINT_FUNCTION{
DEFINITION = Constraint1 > 0.0
OUTPUT_FILE= objFunVal.dat
EXECUTABLE = himmelblauDoETest5
MARKER= Constraint1 
MARKER_FOR_GRADIENT = Constraint1_gradient
GRADIENT = yes
}


CONSTRAINT_FUNCTION{
DEFINITION = Constraint2 > 2.0
OUTPUT_FILE= objFunVal.dat
EXECUTABLE = himmelblauDoETest5
MARKER= Constraint2
}


DISPLAY = OFF

