PROBLEM_NAME= HIMMELBLAU
PROBLEM_TYPE= OPTIMIZATION
# problem dimension
DIMENSION= 2
UPPER_BOUNDS= {6.0,6.0}
LOWER_BOUNDS= {-6.0,-6.0}

OBJECTIVE_FUNCTION{
NAME = objective_function
EXECUTABLE = himmelblau, himmelblauLowFi 
DESIGN_VECTOR_FILE = dv.dat
OUTPUT_FILE = objFunVal.dat, objFunValLowFi.dat 
FILENAME_TRAINING_DATA = himmelblau.csv , himmelblauLowFi.csv 
MULTILEVEL_MODEL = on
}
MAXIMUM_NUMBER_OF_FUNCTION_EVALUATIONS = 100
