PROBLEM_NAME= HIMMELBLAU
PROBLEM_TYPE= MINIMIZATION
# problem dimension
DIMENSION= 2
MAXIMUM_NUMBER_OF_FUNCTION_EVALUATIONS= 100
NUMBER_OF_DOE_SAMPLES= 100
UPPER_BOUNDS= {6.0,6.0}
LOWER_BOUNDS= {-6.0,-6.0}

OBJECTIVE_FUNCTION{
NAME = HimmelblauFunction
EXECUTABLE = himmelblau
DESIGN_VECTOR_FILE = dv.dat
OUTPUT_FILE = objFunVal.dat
PATH = ./
}

NUMBER_OF_ITERATIONS_FOR_EXPECTED_IMPROVEMENT_MAXIMIZATION = 10000
DISPLAY = OFF

